/**************************************************************************************/
/*Autores:                                                                            */
/*         Pamela Morales Moena                                                       */
/*         Jose Luis Ramirez Barra                                                    */
/*                                                                                    */
/*Año    : 2013                                                                       */
/**************************************************************************************/

/* CSS para los botones */
.boton{
	  font-size:11px;
	  font-family:Verdana,Helvetica;
	  font-weight:bold;
	  color:white;
	  background:#33CC33;
	  border:0px;
	  width:auto;
	  height:28px;	
}