/* CSS del formulario registro */
#formulario_r{width:400px; margin:auto auto;}
#titulo_r{width:204px; margin:0 auto}
#d_tutor{width:330px; margin:auto auto; padding-top:8px;}
#d_usuario{width:330px; margin:auto auto;}